#user-badges-wrapper.hide(data-section=urlBuilder.for('settings.user-badges'))
  .password-settings
    .heading
      .circle
        i.icon-lock
      h1= t('settings.user-badges')
    div
      ul.form-messages
      .form-group.user-search
      .form-group
        .user-card
          .picture
          p.name
      .form-group
        label #{'Verification'}
        label.help-text #{'User verification allows you to know which users have their identity validated.'}
        label.user-is-verified
        button#submit-verify(tabindex=5)=t('settings.user-badges.verify')
      .form-group
        label #{t('settings.badge')}
        br
        label.help-text='The tag is displayed below the user name when commenting.'
        input.form-control(type='text', name='badge', tabindex=2, placeholder=t(''), value='', validate='required', maxlength=50)
      .form-group
        button#submit-badge.btn.btn-success.btn-block.btn-lg(tabindex=4)=t('settings.user-badges.save-badge')
